<section id="{{ heroData.id }}">
  <h1>
    <p>{{ heroData.tagline }}</p>
    <span>{{ heroData.emHeading }}</span> {{ heroData.heading }}
  </h1>
  <ul>
    <li *ngFor="let item of heroData.listItems">{{ item.title }}</li>
  </ul>
  <a
    href="{{ heroData.linkHref }}"
    attr.aria-label="{{ heroData.linkAriaLabel }}"
    target="_blank"
    class="{{ heroData.linkClass }}"
    rel="noopener"
  >
    <img
      src="{{ heroData.linkImgURL }}"
      alt="{{ heroData.linkAriaLabel }}"
      width="24"
      height="24"
    />
    {{ heroData.linkText }}
  </a>
</section>
