<header id="top">
  <nav role="navigation" attr.aria-label="Main Navigation">
    <ul>
      <li>
        <a href="/" ariaLable="Home">
          <img
            src="https://res.cloudinary.com/calebmastersdev/image/upload/v1620762551/cmdev/cmlogo-t_aavg64.png"
            alt="Caleb Masters Dev"
            width="55"
            height="30"
          />
        </a>
      </li>
      <li>
        <a href="/#recent-work" al="Recent Work">
          <i className="gg-browser"></i>
          Recent Work
        </a>
      </li>
      <li>
        <a href="/#skills" al="Skills">
          <i className="gg-terminal"></i>
          Skills
        </a>
      </li>
      <li>
        <a href="/#resume" al="Resumé">
          <i className="gg-briefcase"></i> Resumé
        </a>
      </li>
    </ul>
    <ul className="tech" aria-hidden="true">
      <li>
        <a
          href="https://calebmasters.dev/"
          al="Change Website Tech Stack to: HTML/CSS/JS"
          tabindex="-1"
        >
          HTML/CSS/JS
        </a>
      </li>
      <li>
        <a
          href="/"
          al="Change Website Tech Stack to: React/Next.js"
          addClass="active"
          tabindex="-1"
        >
          React/Next.js
        </a>
      </li>
    </ul>
  </nav>
</header>
