<header id="top">
  <nav role="navigation" attr.aria-label="Main Navigation">
    <ul>
      <li>
        <a href="/" ariaLable="Home">
          <img
            src="https://res.cloudinary.com/calebmastersdev/image/upload/v1620762551/cmdev/cmlogo-t_aavg64.png"
            alt="Caleb Masters Dev"
            width="55"
            height="30"
          />
        </a>
      </li>
      <li>
        <a href="/#recent" al="Recent Work">
          <i class="gg-browser"></i>
          Recent Work
        </a>
      </li>
      <li>
        <a href="/#skills" al="Skills">
          <i class="gg-terminal"></i>
          Skills
        </a>
      </li>
      <li>
        <a href="/#resume" al="Resumé"> <i class="gg-briefcase"></i> Resumé </a>
      </li>
    </ul>
    <ul class="tech" attr.aria-hidden="true">
      <li>
        <a
          href="https://calebmasters.dev/"
          al="Change Website Tech Stack to: HTML/CSS/JS"
          tabindex="-1"
        >
          HTML/CSS/JS
        </a>
      </li>
      <li>
        <a
          href="/"
          al="Change Website Tech Stack to: React/Next.js"
          addClass="active"
          tabindex="-1"
        >
          React/Next.js
        </a>
      </li>
      <li>
        <a
          href="https://ng.calebmasters.dev/"
          al="Change Website Tech Stack to: Angular.JS"
          tabindex="-1"
          class="active"
        >
          Angular/SCSS
        </a>
      </li>
    </ul>
  </nav>
</header>
