p {
  border-radius: 0.6rem;
  background: var(--secondary-text);
  border: 1px solid var(--tertiary-text);
  color: var(--main-text);
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.7;
  position: relative;
  text-align: left;
  width: auto;
}

span {
  background: var(--main-subheading);
  background-image: linear-gradient(
    90deg,
    var(--main-subheading),
    var(--main-theme)
  );
  border-radius: 5px 4px 4px 5px;
  color: var(--main-text);
  content: "";
  display: block;
  height: 100%;
  padding-right: 1rem;
  text-align: right;
}
